<p id="notice"><%= notice %></p>

<div class="row text-center" >
<div class="col-md-6 text-center">
<%= image_tag "book.png" , class: "img-responsive"%>
</div>
<div class="col-md-6">
<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Price:</strong>
 $ <%= @book.price/100 %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @book.availability %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

</div>
</div>
